.profile-alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .modal-shadow-bottom {
    position: fixed;
    bottom: 190px;
    height: 60px;
    z-index: 999;
    width: 558px;
    background: linear-gradient(180deg, rgba(44, 61, 82, 0) 0%, #2C3D52 100%);
  }
  .modal-shadow-top {
    position: fixed;
    top: 190px;
    height: 60px;
    z-index: 999;
    width: 558px;
    transform: rotate(-180deg);
    background: linear-gradient(180deg, rgba(98, 26, 72, 0) 0%, #611948 100%);
  }
  .modal-action {
    height: 90px;
    width: 558px;
    position: fixed;
    bottom: 100px;
    z-index: 999;
    background: linear-gradient(90deg, #2C5266 0%, #2C233A 100%, #2E2036 100%);
    box-shadow: inset 0px 1px 0px #614B61;
    padding: 10px 4px 10px 4px;
    margin-bottom: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    & > div {
      margin: 5px;
      width: 48%;
    }

    .overlay {
      position: absolute;
      width: 196px;
      height: 36px;
      border-radius: 24px;
      background-color: #4D1948;
      z-index: 1;
    }
    .backend {
      position: absolute;
      width: 250px;
      height: 40px;
      border-radius: 24px;
      background: linear-gradient(165deg , #f91956 20%, #20e0ec 80%);
      transition-duration: 0.25s;
    }
    .delete-action {
      display: flex;
      width: 250px;
      height: 40px;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      img {
        margin-right: 5px;
      }

    }
    .cancel-action {
      background: linear-gradient(131.41deg, #f91956 12.78%, #20e0ec 85.73%);
      width: 250px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 600;
      line-height: 23px;
      border-radius: 24px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 4, 16, 0.4);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
  .h2 {
    position: fixed;
    width: 558px;
    top: 101px;
    padding: 0 50px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: white;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px #993467;
    border-bottom: 1px solid red;
    background: linear-gradient(90deg, #5A1847 0%, #781D4A 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
  }
  .close {
    width: 560px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 124px;
    padding-right: 24px;
    z-index: 1000;
    .close-icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .modal-edit-body {
    width: 560px;
    background: radial-gradient(132.46% 61.18% at 0% 100%, rgba(32, 224, 236, 0.3) 6.38%, rgba(56, 23, 53, 0) 100%), radial-gradient(150.77% 69.63% at 102.91% 0%, rgba(249, 25, 86, 0.3) 19.56%, rgba(60, 22, 56, 0) 96.66%), linear-gradient(
167.96deg, #4D1948 0%, #291326 100%);
    border-radius: 15px;
    padding: 120px 24px 150px 24px;
    z-index: 2;
    position: relative;
    border: 1px solid #20e0ec;
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    p {
      font-family: Poppins;
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
      text-align: center;
      color: #b497b5;
    }


    .avatar-upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 20px 0px;
      .profile-avatar {
        width: 140px;
        height: 140px;
        border-radius: 140px;
        margin-bottom: 20px;
      }
    }


    .personal-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      .info-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        color: white;
        padding: 10px 0 20px 0;

        .title-desc {
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #C3A2C5;
        }

        .font {
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          opacity: 0.8;
          &.small {
            font-size: 15px;
            font-weight: 200;
            line-height: 20px;
            margin-left: 10px;
          }
        }
      }
      .info-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .suggestion-title {
          color: white;
          font-size: 15px;
          font-weight: bold;
          line-height: 22px;
          margin-bottom: 10px;
          text-align: left;
          width: 100%;
          margin-left: 20px;
        }
        .suggestions {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          cursor: pointer;
        }
        .name {
          width: 100%;
          .name-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px 20px 0px;
            .name-field {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 48%;

              .required {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 10px;
                span {
                  color: white;
                  font-size: 12px;
                  font-weight: 300;
                  line-height: 18px;
                }
                img {
                  margin-left: 5px;
                  width: 15px;
                  height: 15px;
                }

                .field__label {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  color: #c3a2c5;
                }
              }
              .name-input {
                background: rgba(255, 255, 255, 0.15);
                border: 1px solid rgba(255, 255, 255, 0.15);
                box-sizing: border-box;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
                border-radius: 24px;
                height: 36px;
                padding: 5px 20px;
                width: 100%;
                color: white;
                line-height: 24px;
              }
            }
          }
          .name-description {
            justify-content: center;
            padding-bottom: 20px;
            .description {
              font-weight: 300;
              font-size: 15px;
              line-height: 22px;
              color: white;
              opacity: 0.8;
              &.blue {
                margin-left: 10px;
                color:rgba(32, 224, 236, 0.8);
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .input-container,
        .dropdown-container,
        .textarea-container {
          width: 100%;
        }
        .form-input-btn {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          .label-input {
            width: 67%;
            .input__extraheight {
              z-index: 999;
            }
          }
          .verify-btn {
            margin-left: 3%;
            width: 30%;
          }
        }
        .dashed {
          border: 1px dashed rgba(255, 255, 255, 0.2);
          margin: 10px;
          width: 100%;
        }
        .social-connect {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .social-icon {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            img {
              width: 35px;
              height: 35px;
            }
            span {
              margin-left: 15px;
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              line-height: 24px;
              color: #E7D1E8;
            }
          }
        }
      }
    }
  }
}
