@import '~app/styles/core';

.settings-container {
  display: flex;
  padding: 32px 0;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  margin-left: 242px;

  .settings-content {
    background: linear-gradient(
      100.45deg,
      rgba(255, 255, 255, 0.15) 3.19%,
      rgba(255, 255, 255, 0.03) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    backdrop-filter: blur(32px);
    border-radius: 18px;
    width: 680px;

    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .settings-content__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .settings__card-direction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .btn {
      font-style: normal;
      justify-content: flex-end;
    }

    .circle-btn {
      justify-content: center;
      & > img {
        margin: 0;
      }
    }

    .settings__coming-soon {
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
      color: #1ce4f0;
      margin-left: 5px;
      position: relative;
      top: -12px;
    }
  }

  .settings__faq {
    .h3 {
      width: 100%;

      a {
        color: #FFFFFF;
        width: 100%;
        display: flex;
      }
    }
  }

  .settings__card {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 24px;
    margin-bottom: 16px;

    .btn-secondary {
      font-weight: normal;
    }
  }

  .change-password-form {
    display: flex;
    flex-direction: column;
    margin-top: 27px;

    .change-password-form__action-btns {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      :first-child {
        margin-right: 10px;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

.forgotpsw-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 4, 16, 0.4);
    backdrop-filter: blur(12px);
  }

  .modal-body {
    width: 560px;
    background: linear-gradient(167.96deg, #4d1948 0%, #291326 100%),
      linear-gradient(176.26deg, #4d1948 0%, #291326 48.11%);
    border-radius: 18px;
    padding: 24px 24px 40px 32px;
    z-index: 2;
    position: relative;
    border: 2px solid #20e0ec;
    max-height: calc(100vh - 50px);
    overflow-y: auto;

    .modal-top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .modal-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 75px 0px 103px;

        .title-text {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          margin-right: 8px;
          color: #FFFFFF;
        }

        .title-text--dark {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          color: #C3A2C5;
        }
      }

      .close-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

       .title-description {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #EEEEEE;
        margin-bottom: 25px;
      }
  }
}
