@import '~app/styles/core';
.forgotpasswordforms-container,
.confirmpassword-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .terms {
    margin-top: 330px;
  }

  .terms-and-privacy-policy-links {
    margin-top: auto;
    margin-bottom: 24px;
  }
}
