.timepicker {
  height: 132px;
  width: 180px;
  border-radius: 24px;
  z-index: 100;
  background: white;
  border: 1px solid #E0E4E8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  left: 0;

  .timepicker__selector {
    width: 24px;
    height: 100%;
    text-align: center;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .upper, .down {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    p {
      width: 36px;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      margin: 7px 0;
      padding: 0;
      color: #41464D;
    }
  }
  .time-seperator {
    width: 20px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #41464D;
  }
}
