.terms-and-privacy-policy-links {
  margin-top: 129px;
  // margin-bottom: 24px;
  max-width: 336px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #E8DAE9;
  .link {
    text-decoration: none;
    font-weight: 500;
    color: #1ce4f0;
    cursor: pointer;
  }
}
